<%- include ("./templates/_header") %>

<div class="container">
  <a href="/newPost"
    ><button type="button" class="btn btn-primary">Create New Post</button></a
  >
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <% if (posts.length === 0) { %>
      <h2>There are no posts</h2>
      <% } %> <% posts.forEach(function (post) { %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= post.title %></h2>
        <p class="blog-post-meta">
          <%= post.post_date %> by <a href="#"> <%= post.author %> </a>
        </p>
        <p><%= post.post_data %></p>
        <a class="btn btn-danger" href="/delete/<%= post._id %> "> Delete </a>
        <a class="btn btn-info" href="/edit/<%= post._id %> "> Edit </a>
      </div>
      <% }) %>
    </div>
  </div>
</main>

<%- include ("./templates/_footer") %>
